.nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 30px;
    background-color: white;
    margin-top: 20px;
    position: fixed;
    width: 80%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.navBtn {
    margin: 0;
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;
    width: 21px;
    height: 21px;
}