
.containerProducts {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    /* align-items: center; */
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    align-items: center;
    /* justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center; */
    gap: 10px;
    /* flex-wrap: wrap; */
}

.empty {
    font-weight: bold;
    font-size: 40px;
    color: white;
}