
.containerProducts {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center; 
    gap: 16px;
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
}

.empty {
    font-weight: bold;
    font-size: 40px;
    color: white;
}