

.search {
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    max-width: 100%;
    padding: 10px 20px;
    background-color: white;
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.search img {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
}

.searchInput {
    border: none;
    text-decoration: none;
    align-items: center;
    width: 100%;
    font-size: 16px;
    background-color: white;
    color: var(--tc);
}

.searchInput > input {
}


.searchInput::placeholder {
    color: var(--tc);
}