

.search {
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.searchInput {
    border: none;
    text-decoration: none;
    align-items: center;
    width: 100%;
    font-size: 18px;
    background-color: white;
}