.cardProduct {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    border-radius: 25px;
    background-color: white;
    padding: 5px;

    height: 370px;
}

.headerCard {
    top: 10px;
    left: 10px;
    width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}

.tags {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.saveButton {
    width: 25px;
    height: 25px;
    padding: 0;
    border: none;
    background: none;
}

.save {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imgProduct {
    min-width: 240px;
    min-height: 240px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    background-color: var(--bg);
    text-align: center;
    
}

.imgProductPlaceholder {
    min-width: 240px;
    min-height: 240px;
    border-radius: 20px;
    display: block;
    background-color: var(--bg);
    background-position: center;
    background-repeat: no-repeat;
}


.priceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.finalPrice {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.salaryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.originalPrice {
    color: gray;
    text-decoration: line-through;
}

.salary {
    font-weight: 700;
    font-size: 14px;
    color: #FF6723;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 5px;
    gap: 5px;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    line-height: 1.4;
    max-height: 2.8em;
    color: var(--tc);
}

.btnChoose {
    width: 240px;
    max-width: 100%;
    border-radius: 20px;
    background-color: var(--bg);
    color: var(--tc);
    padding: 8px;
    font-size: clamp(14px, 3.5vw, 16px);
}


.statusCardNew {
    width: fit-content;
    font-family: Mulish, serif;
    padding:3px 10px;
    border-radius: 15px;
    color: white;
    background-color: #45B649;
}

.statusCardHit{
    width: fit-content;
    font-family: Mulish, serif;
    padding:3px 10px;
    border-radius: 15px;
    color: white;
    background-color: #FF6723;
}

.statusCardSalary {
    width: fit-content;
    font-family: Mulish, serif;
    padding:3px 10px;
    border-radius: 15px;
    color: white;
    background-color: #FFCA28;
}

.statusCardPremium {
    width: fit-content;
    font-family: Mulish, serif;
    border-radius: 15px;
    padding:3px 10px;
    color: white;
    background-color: #292928;
}



@media (max-width: 425px) {
    .cardProduct {
        width: 173px;
        height: 272px;
        padding: 2px;
        border-radius: 18px;
        gap: 1px;
    }

    .headerCard {
        top: 5px;
        left: 5px;
        width: 160px;
    }

    .headerCard > * {
        font-size: 11px;
    }


    .imgProduct {
        min-width: 169px;
        min-height: 169px;
        border-radius: 15px;
    }

    .imgProductPlaceholder {
        min-width: 169px;
        min-height: 169px;
        border-radius: 15px;
    }

    .saveButton {
        width: 17px;
        height: 17px;
    }

    .finalPrice {
        font-size: 16px;
    }

    .salaryContainer {
        font-size: 10px;
    }

    .salary {
        font-size: 10px;
    }

    .descriptionContainer {
        gap: 1px;
    }

    .description {
        font-size: 13px;
    }

    .statusCardNew {
        padding:4px 8px;
        border-radius: 10px;
    }

    .statusCardHit{
        padding:4px 8px;
        border-radius: 10px;
    }

    .statusCardSalary {
        padding:4px 8px;
        border-radius: 10px;
    }

    .statusCardPremium {
        padding:4px 8px;
        border-radius: 10px;
    }


}