

.card--product {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    background-color: white;
    border-radius: 20%;
}

.header_card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}

.save {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.imgProduct {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.finalPrice {
    font-weight: bold;
    color: black;
}

.salaryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.originalPrice {
    color: gray;
    text-decoration: line-through;
}

.salary {
    color: rgb(216, 72, 0);

}

.description-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.description {
    height: 60px;
    overflow: hidden;
}

.btn--choose {
    border-radius: 50%;
    background-color: gray;
    color: black;
}

/* .status-card {
} */

.status-card_new {
    border-radius: 50%;
    color: white;
    background-color: rgb(0, 159, 0);
}

.status-card_hit {

    border-radius: 50%;
    color: white;
    background-color: rgb(216, 72, 0);
}

.status-card_salary {
    border-radius: 50%;
    color: white;
    background-color: rgb(217, 174, 0);
}

.status-card_premium {
    border-radius: 50%;
    color: white;
    background-color: rgb(14, 14, 14);
}

