p, h4 {
    margin: 0;
}
.cardProduct {
    box-sizing: border-box;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    border-radius: 25px;
    background-color: rgb(66, 66, 66);
    padding: 5px;
}

.headerCard {
    top: 10px;
    left: 10px;
    width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}
.tags {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.saveButton {
    width: 25px;
    height: 25px;
    padding: 0;
    border: none;
    background: none;
}

.save {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgProduct {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.finalPrice {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.salaryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.originalPrice {
    color: gray;
    text-decoration: line-through;
}

.salary {
    color: rgb(216, 72, 0);

}

.descriptionContainer {
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.description {
    height: 50px;
    overflow: hidden;
}

.btnChoose {
    width: 240px;
    border-radius: 20px;
    background-color: rgb(142, 142, 142);
    color: black;
}


.statusCardNew {
    width: fit-content;
    font-weight: bold;
    padding:3px 5px;
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 159, 0);
}

.statusCardHit{
    width: fit-content;
    font-weight: bold;
    padding:3px 5px;
    border-radius: 10px;
    color: white;
    background-color: rgb(216, 72, 0);
}

.statusCardSalary {
    width: fit-content;
    font-weight: bold;
    padding:3px 5px;
    border-radius: 10px;
    color: white;
    background-color: rgb(217, 174, 0);
}

.statusCardPremium {
    width: fit-content;
    font-weight: bold;
    border-radius: 10px;
    padding:3px 5px;
    color: white;
    background-color: rgb(14, 14, 14);
}

