.sliderTypes {
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    box-sizing: border-box;
    width: 100%;
    gap: 10px;
    /* overflow: hidden; */
    overflow-x: scroll;
    margin: 20px;
}