.sliderTypes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    overflow: hidden;
    overflow-x: scroll;
    margin: 20px;
}