.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  padding: clamp(1rem, 4vw, 2rem) 0;
  box-sizing: border-box;
}

.sectionTitle {
  color: var(--title-color);
  margin: 0 auto;
  width: 350px;
  margin: 10px auto;
  font-size: 16px;
  text-align: start;
}