.nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    border: 1px solid var(--tc);
    border-radius: 30px;
    background-color: white;
    position: fixed;
    bottom: 10px;
    left: 10px; 
    right: 10px; 
    max-width: 500px; 
    margin: 0 auto;
    z-index: 1000;
}

.navBtn {
    margin: 0;
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;
    width: 21px;
    height: 21px;
}

.navBtn img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}