h3 {
    margin: 0;
}
.cardType {
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 5px;
    background-color: gray;
    border-radius: 10px;
}

.card__img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    border-radius: 10px;
}

.card__title {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

