
.cardType {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 10px;
    background-color: gray;
}

.card__img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.card__title {
    font-weight: bold;
    color: white;
}

