.header {
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */

    display: grid;
    grid-template-columns: 110px 1fr 80px;

    margin-bottom: clamp(12px, 3vw, 20px);
    padding: clamp(8px, 2vw, 12px) clamp(0, 4vw, 24px);
    position: sticky;
    top: 0; 
    z-index: 1000;
    font-weight: 500;
}

.icon {
    /* width: clamp(14px, 3.5vw, 15px);
    height: clamp(14px, 3.5vw, 15px); */
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    margin: 5px;
    object-fit: contain;
}

.exit, .link, .settings {
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(6px, 1.5vw, 8px);
    /* padding: clamp(6px, 1.5vw, 8px) clamp(12px, 3vw, 16px); */
    padding: 5px;
    min-height: 36px;
    min-width: 36px;
    cursor: pointer;
    transition: background-color 0.2s;
    color: var(--tc);
}

.exit, .settings {
    background-color: var(--bb);
}

.settings {
    position: relative;
}

.btnControlContainer {
    position: absolute;
    top: 0;
    right: 0;

    width: 140px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--bb);
}

.btnControl {
    width: 100%;
    padding: 4px 7px;
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: white;
}

.btnControlImg {
    width: 13px;
    height: 13px;
    object-fit: cover;
}

.btnControlImgBack {
    width: 13px;
    height: 13px;
    object-fit: contain;
    transform: rotate(90deg);
}

.btnControlText {
    font-size: 13px;
    color: var(--tc);
}


.link {
    width: 150px;
    margin: 0 auto;
}



@media (max-width: 425px) {
    .header {
        margin: 0;
    }
    .exit, .link, .settings {
        font-size: 11px;
        gap: 3px;
    }
    .icon {
        width: 9px;
        height: 9px;
    }
}