
.header {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.icon {
    width: 14px;
    height: 14px;
}

.iconTg {

}

.exit, .link, .settings {
    border-radius: 20px;
    background-color: rgb(175, 175, 175);
    display: flex;
    flex-direction: row;
    gap: 8px;
}