.container {
    margin: 0 auto;
    width: 350px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sectionTitle {
    color: black;
    font-size: 16px;
}

.quantity {
    font-size: 14px;
    color: black;
}


