.container {
    margin: 0 auto;
    width: 500px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sectionTitle {
    color: black;
    font-size: 24px;
}

.quantity {
    color: black;
}


