
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--bg);
}

.container__title {
    margin-top: 30px;
    color: var(--tc);
    font-size: 18px;
}

.from {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: white;
    width: 100%;
    max-width: 200px;
    padding: 10px;
    border-radius: 10px;
}

.inputName, .inputPass {
    width: 100%;
    padding: 4px;
    background-color: var(--bg);
    border-radius: 10px;
    font-size: 13px;
}

.inputName::placeholder, .inputPass::placeholder {
    text-align: center;
    color: var(--tc);
    opacity: 0.5;
}

.inputName > input, .inputPass > input {
    outline: none;
    background-color: var(--bg);
    border: none;
    color: var(--tc);
}

.loginBtn {
    width: 100%;
    padding: 4px;
    background-color: var(--bg);
    color: var(--tc);
    font-size: 13px;
}

.forgotLink {
    color: var(--tc);
    font-size: 11px;
}