
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--bc);
}

.container__title {
    color: var(--title);
}

.from {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: var(--bc);
    width: 100%;
    max-width: 200px;
}

.inputName {
    padding: 8px;
    background-color: var(--bg);
}

.inputPass {
    padding: 8px;
    background-color: var(--bg);
}

.loginBtn {
    padding: 8px;
    background-color: var(--bg);
}
.forgotLink {
    color: var(--tc);
}