@font-face {
    font-family: Mulish;
    src: url('../fonts/Mulish-ExtraBold.ttf');
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter_18pt-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter_18pt-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter_18pt-SemiBold.ttf');
    font-weight: 600;
}